body{
    background-color: beige;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
text-align:center;
}

h2{ color:#333; }

input,button{
padding:8px;
margin:10px;
width:200px;
}

button{
background-color:navy;
color:white;
border:none;
}

#result{
font-style: normal;
margin-top:20px;
font-weight:bold;

}